// generic body html settings
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dashcol {
    height: 100%;
}

.in {
    display: inline-block;
}

.expand {
    cursor: pointer;
}

h5.topt {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

h5.logo {
    font-weight: bolder;
    font-size: 36px;
    margin: 0;
    padding: 0;
    text-shadow: -1px -1px 0px rgba(69,90,100,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    opacity: 0.4;
}

div.detail {
    margin: 5px;
}

div.logo {
    margin-left: 5px;
}

.ovalign {
   vertical-align:middle;
}

